################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VolunteerCenterMVCProject/.vs/VolunteerCenterMVCProject/v17
/VolunteerCenterMVCProject/VolunteerCenterMVCProject/obj
/VolunteerCenterMVCProject/.vs/VolunteerCenterMVCProject/FileContentIndex
/VolunteerCenterMVCProject/.vs/VolunteerCenterMVCProject
/VolunteerCenterMVCProject/VolunteerCenterMVCProject/bin/Debug/net6.0
