################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VolunteerCenterMVCProject/.vs/VolunteerCenterMVCProject/v17
/VolunteerCenterMVCProject/VolunteerCenterMVCProject/obj
/VolunteerCenterMVCProject/.vs/VolunteerCenterMVCProject/FileContentIndex
/VolunteerCenterMVCProject/.vs/VolunteerCenterMVCProject
/VolunteerCenterMVCProject/VolunteerCenterMVCProject/bin/Debug/net6.0
/VolunteerCenterMVCProject/.vs/ProjectEvaluation/volunteercentermvcproject.metadata.v8.bin
/VolunteerCenterMVCProject/.vs/ProjectEvaluation/volunteercentermvcproject.projects.v8.bin
/VolunteerCenterMVCProject/.vs/ProjectEvaluation/volunteercentermvcproject.strings.v8.bin
